.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #445;
  color: white;
  overflow: hidden;
  transition: height 0.5s ease;
  height: 50px; /* Altura inicial de la barra */
  border-radius: 20px 20px 0 0;
  z-index: 2;
}

.footer:hover {
  height: 300px; /* Altura expandida al hacer hover */
}

.footer-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #333;
}

.footer-bar h3 {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 1.2rem;
}

.footer-bar svg {
  margin-right: 10px;
}

.footer-content {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.footer:hover .footer-content {
  opacity: 1;
  pointer-events: all;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-size: 1rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 5px;
}

.footer-column a {
  color: lightblue;
  text-decoration: none;
}

/* Aseguramos que el logo esté alineado con los enlaces */
.footer-logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: flex-start; /* Asegura que el logo esté alineado a la izquierda */
}

/* Aumentar el tamaño del logo */
.footer-logo {
  width: 150px;  /* Tamaño más grande para el logo */
  height: auto;
  margin-right: 20px; /* Espacio entre el logo y el texto */
}
