.productos-container {
    display: flex;
    height: 100vh;
  }
  
.productos-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #424599;
  }
  
.productos-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
.metricas-rapidas {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
.search-bar {
    margin-bottom: 20px;
  }
  
.search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
.productos-table {
    width: 100%;
    border-collapse: collapse;
  }
  
.productos-table th, .productos-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
.productos-table th {
    background-color: #0d1c47;
    color: white;
  }
  
.productos-table td {
    text-align: center;
  }
  
.details-button {
    padding: 5px 10px;
    background-color: #3B82F6;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
.details-button:hover {
    background-color: aqua;
  }

  .product-summary {
    display: flex;
    gap: 20px; /* Espacio entre cada estadística */
    margin-bottom: 20px; /* Espacio debajo de la sección de estadísticas */
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
}

.product-summary span {
    padding: 5px 10px;
    background-color: #0d1c47; /* Fondo claro para cada estadística */
    border-radius: 5px;
}

/* styles/AdminProduct.css */
.categories-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.categories-button:hover {
  background-color: #0056b3;
}
