

.home-container {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  background-color: #f5f5f5bc;
}

  /* Estilos generales de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px !important;
    height: 12px !important;
}

/* Estilos para el track de la barra (el fondo) */
::-webkit-scrollbar-track {
    background: #1C1C3B !important;
    border-radius: 10px !important;
}

/* Estilos para el thumb (la parte que se mueve) */
::-webkit-scrollbar-thumb {
    background-color: #670404 !important;
    border-radius: 10px !important;
    border: 3px solid #1C1C3B !important;
}

/* Estilo del thumb cuando se pasa el cursor por encima */
::-webkit-scrollbar-thumb:hover {
    background-color: #00b8a9 !important;
}

  