.popular-products-container {
    padding: 20px;
}

.form-container {
    text-align: center;
    margin-bottom: 30px;
}

.category-select {
    margin-bottom: 10px;
}

#category {
    padding: 10px;
    font-size: 16px;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.product-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 14px;
}

.product-card a {
    color: #007BFF;
    text-decoration: none;
}

.product-card a:hover {
    text-decoration: underline;
}
