.user-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #424599;
  height: 100vh;
}

.back-button {
  align-self: flex-start;
  font-size: 1.2em;
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.back-button:hover {
  color: #007bff;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}

.profile-content {
  display: flex;
  width: 80%;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 550px;
}

.profile-sidebar {
  width: 30%;
  background-color: #2c3e50;
  padding: 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 40px;
}

.avatar-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 4px solid #3498db;
  background-color: #ecf0f1;
  margin-bottom: 10px; /* Agrega espacio debajo de la imagen */
}

.upload-button {
  padding: 8px 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #2980b9;
}

.user-info {
  text-align: center;
  margin-top: 25px;
}

.user-info h3 {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.user-info p {
  font-size: 1em;
  color: #bdc3c7;
}

.menu {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.menu li {
  margin: 10px 0;
}

.menu li a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1em;
}

.menu li a:hover {
  color: #cf5555;
}

.profile-main {
  width: 70%;
  padding: 30px;
}

.profile-main h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
  margin-top: 60px;
}

.upload-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #bdc3c7;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  color: #7f8c8d;
  font-size: 1em;
  text-align: center;
}

.preview-image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}

.save-button {
  padding: 10px 20px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
}

.save-button:hover {
  background-color: #27ae60;
}

.upload-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #bdc3c7;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  color: #7f8c8d;
  font-size: 1em;
  text-align: center;
  min-height: 150px;
  cursor: pointer;
}

.preview-image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}

